<select style="background-color: lightblue; margin-left: 30px">
  <option disabled selected hidden>Select Student</option>
  <option>Phong Nguyen - Student ID: 1</option>
  <option>Phong Nguyen - Student ID: 2</option>
  <option>Phong Nguyen - Student ID: 3</option>
  <option>Linh Linh - Student ID: 4</option>
  <option>Linh Linh - Student ID: 5</option>
</select>

<select style="background-color: lightblue; margin-left: 30px">
  <option disabled selected hidden>Select Subject</option>
  <option>History</option>
  <option>Math</option>
  <option>Science</option>
  <option>Geography</option>
  <option>Music</option>
</select>

<button class="btn btn-success" style="display: block; margin-left: 30px; margin-top: 30px" (click)="export_exel()">Export Exel</button>
